.left-bar {
    background-color: #182320;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100px;
    font-size: 0.8em;
}

.left-bar .items .item,
.left-bar .items .footer {
    text-align: center;
    padding: 15px 0;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    color: rgba(255, 255, 255, 0.3);
}

.left-bar .items .footer {
    position: absolute;
    bottom: 20px;
    margin: 20px;
    margin-bottom: 0;
}

.left-bar .items .footer a {
    text-decoration: none;
    color: rgb(155, 146, 146);
}

#master>div.left-bar>div>div.footer:hover {
    color: white;
    font-weight: 500;
}

.left-bar>.items>.item:nth-child(1)>.avatar>img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.left-bar .items .item .icon {
    font-size: 24px;
}

.left-bar .items .item .icon {
    font-size: 24px;
}

.left-bar .items .item.hover {
    color: white;
    font-weight: 500;
}

.left-bar .items .item:hover {
    color: white;
    font-weight: 500;
}

.left-bar .items .item:active {
    color: white;
    font-weight: 500;
    background: #093a11d1;
}

.item.active {
    color: #11bf7f !important;
    font-weight: bold;
}

.content {
    position: absolute;
    left: 100px;
    right: 0;
    top: 0;
    bottom: 0;
}

.menu {
    position: fixed;
    width: 270px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    color: #999;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #f6f6f6;
    overflow: auto;
}

.menu .box {
    padding: 20px 0px;
    border-bottom: 2px solid #eee;
    color: rgb(108, 105, 105);
}

.menu .top {
    padding-left: 10px;
}

.menu .top>.heading {
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 350;
    color: rgb(46, 43, 43);
}

.menu .box .sub-heading {
    text-transform: uppercase;
    opacity: 0.8;
    padding-top: 10px;
    padding-left: 20px;
}

.menu .item {
    padding: 10px 0 0 20px;
    color: rgb(129, 123, 123);
    cursor: pointer;
}

.menu .menu-icon,
.menu .info {
    display: inline-block;
}

.menu .menu-icon {
    padding-right: 10px;
    vertical-align: -3px;
}

.menu .material-icons {
    font-size: 16px;
}

.menu .items .item:hover {
    background-color: rgb(255, 255, 255);
}

.menu .items .item:active {
    color: #11bf7f;
    font-weight: bold;
}

.content {
    overflow: auto;
}

.content .page {
    margin-right: 270px;
    position: relative;
}

.content .app-title {
    margin: 20px;
    height: 60px;
    border-bottom: #eee solid 1px;
}

.content .app-title .btn {
    position: absolute;
    top: 0px;
    right: 20px;
    border-radius: 3px;
    padding: 10px 15px;
    background-color: rgb(28, 197, 158);
    color: white;
    font-weight: 450;
}

.content .app-title .btn:hover {
    padding: 10px 15px;
    background-color: rgb(28, 197, 118);
    color: white;
    cursor: pointer;
}

.content .app-title .label {
    color: rgb(174, 169, 169);
    font-size: 0.6em;
    font-weight: 400;
    text-transform: uppercase;
}

.content .app-title .title {
    font-size: 1.2em;
    opacity: 0.8;
}

.content .app-title .icon {
    display: inline-block;
}

.content .app-title .icon .material-icons {
    font-size: 30px;
    padding-right: 10px;
    opacity: 0.7;
}

.content .app-title .acc-info {
    display: inline-block;
}

.content .app-title .icon {
    display: inline-block;
    padding-right: 2px;
    vertical-align: -2px;
}

.content .app-title .btn .icon .material-icons {
    font-size: 16px;
}

.content .profile {
    max-width: 600px;
    margin: auto;
    padding: 20px 20px
}

.content .profile .acc-edit {
    position: absolute;
    top: 90px;
    right: 20px;
    cursor: pointer;
    font-size: 0.8em;
}

.content .profile .edit-menu {
    display: none;
    position: absolute;
    width: 250px;
    right: 0px;
    top: 30px;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: black;
    box-shadow: 0 2px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 4px;
    background-color: white;
}

.content .profile .edit-menu .item {
    padding: 7px 15px;
    border-radius: 3px;
}

.content .profile .edit-menu .item:hover {
    background-color: rgb(28, 197, 158);
    color: white;
    font-weight: 500;
}

.content .profile .acc-edit .icon:hover+.edit-menu {
    display: block;
}

.content .profile .acc-edit .edit-menu:hover {
    display: block;
    z-index: 10;
}

.content .profile .acc-edit .icon {
    opacity: 0.5;
    padding: 10px 0 20px 20px;
}

.content .main {
    position: relative;
    padding-left: 120px;
    padding-bottom: 30px;
}

.content .profile .main .img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
}

.content .profile .main .img img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}

.profile .main .detail-info .title {
    color: black;
    font-size: 1.6em;
    font-weight: 450;
    text-transform: capitalize;
    border: none;
    padding-bottom: 10px;
}

.profile .main .detail-info .sub-title {
    font-size: 1em;
    font-weight: 400;
    color: #999;
    padding-bottom: 5px;
}

.profile .main .detail-info .info {
    padding: 4px 0;
    font-size: 0.9em;
    color: black;
}

.profile .main .detail-info .info b {
    font-weight: 600;
    opacity: 0.7;
    padding-right: 10px;
}

.content .profile .list {
    padding: 40px 0 20px;
    border-bottom: none;
    position: relative;
}

.contact-info.info>b {
    padding-right: 80px;
    opacity: 0.5;
    font-weight: 600;
}

.content .profile .list .item.url {
    position: relative;
}

.content .profile .list.last-item {
    border: none;
    padding-bottom: 300px;
}

.content .profile .title {
    text-transform: uppercase;
    border-bottom: rgb(225, 222, 222) solid 1px;
    font-size: 0.9em;
    font-weight: 500;
    color: #999;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content .profile .list .name {
    font-size: 1.3em;
    font-weight: 500;
    padding-bottom: 5px;
    color: #11bdbf;
    cursor: pointer;
}

.content .profile .list .name:hover {
    text-decoration: underline;
}

.content .profile .list .item-none {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #888;
    background-color: #f8f8f8;
    padding: 20px;
    margin-top: 25px;
    border-radius: 3px;
}

.content .profile .list .icon {
    position: absolute;
    font-size: 1.4px;
    cursor: pointer;
    top: 20px;
    right: 0;
    opacity: 0.3;
}

.content .profile .list .add {
    position: absolute;
    font-size: 1.1px;
    cursor: pointer;
    right: 0;
    top: 20px;
    padding: 5px;
}

.menu .clear {
    display: block;
    position: absolute;
    bottom: 0;
}

.response-model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(29, 28, 28, 0.5);
    line-height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.response-model .content-model {
    position: relative;
    background-color: #fff;
    min-height: 500px;
    min-width: 700px;
    width: fit-content;
    border-radius: 3px;
    display: block;
}

.response-model.change-password .content-model {
    position: relative;
    background-color: #fff;
    min-height: 300px;
    min-width: 500px;
    width: 550px;
    border-radius: 3px;
    display: block;
}

select#logout-selector {
    width: 100%;
    padding: 5px 10px;
    background: aliceblue;
    border-radius: 3px;
}

select#logout-selector:focus-visible {
    outline: #11bf7f;
}

.row.note {
    text-align: center;
    font-style: italic;
    font-size: 0.9em;
    padding-top: 15px;
    background: #eee;
    color: #666060;
    border-radius: 3px;
    margin-top: 15px;
}

.response-model .content-model .close-btn .material-icons {
    position: absolute;
    right: 15px;
    top: 15px;
    color: rgb(167, 163, 163);
    font-size: 20px;
}

.response-model .content-model .close-btn .material-icons:hover {
    cursor: pointer;
    color: rgb(239, 149, 149);
    font-size: 24px;
    border-radius: 50% solid #eee;
}

.response-model .content-model .heading-info {
    padding: 20px;
    background-color: #eee;
    font-size: 1.1em;
    font-weight: 600;
    color: rgb(51, 49, 49);
    text-transform: capitalize;
}

.response-model .content-model .content-info {
    padding: 20px;
}

.response-model .content-model .row {
    padding-bottom: 20px;
}

.response-model .content-model .row .title-info {
    float: left;
    width: 180px;
}

.response-model.change-password .content-model .row .title-info {
    float: left;
    width: 210px;
}

.response-model .content-model .row .form-detail {
    float: right;
    width: 70%;
}

.response-model.change-password .content-model .row .form-detail {
    float: right;
    width: 55%;
}

.response-model .content-model .row .form-detail input {
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
}

.response-model .content-model .row .fake-input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #9f9a9a;
    border-radius: 2px;
    font-size: 1em;
    background-color: #ccc;
}

.response-model .content-model .row .form-detail input:focus-visible,
.response-model .content-model .row .form-detail textarea:focus-visible {
    outline: 1px solid rgba(66, 184, 20, 0.7);
}

.response-model .content-model .row .form-detail textarea {
    width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
    min-height: 50px;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 1em;
}

.response-model .content-model .title-info .head-title {
    font-weight: 500;
}

.response-model .content-model .title-info .sub-title {
    opacity: 0.6;
    font-weight: 400;
    font-size: 0.8em;
}

.response-model .content-model .footer-content {
    margin: 0px 20px 20px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px dashed #eee;
}

.response-model .content-model .footer-content button {
    border-radius: 3px;
    border: none;
    width: 47%;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
}

.content-model .footer-content .btn-skip {
    color: rgb(46, 43, 43);
    background-color: rgb(186, 180, 180);
    float: left;
}

.content-model .footer-content .btn-skip:hover {
    color: rgb(29, 28, 28);
    background-color: rgb(132, 77, 77);
}

.content-model .footer-content .btn-update {
    background-color: rgb(32, 183, 15);
    color: rgb(254, 254, 254);
    float: right;
}

.content-model .footer-content .btn-update:hover {
    color: rgb(239, 239, 239);
    background-color: rgb(27, 124, 5);
}

.response-model .clear {
    clear: both !important;
}

#response-model .clear {
    clear: both !important;
}

#response-model {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(29, 28, 28, 0.5);
    line-height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

#response-model .content-model {
    position: relative;
    background-color: #fff;
    min-height: 100px;
    min-width: 300px;
    width: fit-content;
    border-radius: 3px;
    display: block;
}

#response-model .content-model .close-btn .material-icons {
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgb(167, 163, 163);
    font-size: 20px;
}

#response-model .content-model .close-btn .material-icons:hover {
    cursor: pointer;
    color: rgb(239, 149, 149);
    font-size: 24px;
    border-radius: 50% solid #eee;
}

#response-model .content-model .header-content {
    display: inline-block;
    padding: 30px 45px 25px 30px;
    font-size: 1em;
    width: 100%;
    max-width: 500px;
    vertical-align: middle;
}

#response-model .content-model .header-content .material-icons {
    float: left;
    font-size: 3.3em;
    padding-right: 10px;
    vertical-align: middle;
    color: #cd8f09;
}

#response-model .content-model .header-content .detail {
    vertical-align: middle;
}

#response-model .content-model .footer-content {
    padding: 15px;
    color: rgb(205, 19, 19);
    font-weight: 500;
    font-size: 0.9em;
    border-top: 1px dashed #eee;
    text-align: center;
}

#response-model #yes-msg {
    float: right;
    padding-right: 60px;
    color: rgb(32, 183, 15);
    cursor: pointer;
}

#response-model #yes-msg:hover {
    font-size: 1.2em;
}

#response-model #no-msg {
    float: left;
    padding-left: 60px;
    cursor: pointer;
}

#response-model #no-msg:hover {
    font-size: 1.2em;
}