* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
}

#master {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.main {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 700px;
    background-color: #fff;
    overflow-y: auto;
}

.right-background {
    position: absolute;
    left: 700px;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(https://static-gcdn.basecdn.net/account/image/background.png);
    background-size: cover;
    background-repeat: repeat-x;
    background-position: right center;
}